---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <style>
      body {
          background-color: blue;
          color: white;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      
      link {
          color:white;
      }
      
      button {
          background-color: #ffffff;
          color: blue;
      }
      
          </style>
          <header>
              <div class="menu">
                  <a href="/">Home</a>
                  <a href="/about">About</a>
                  <a href="/blog">Blog</a>
                  <a href="https://viralistic.nl">Home</a>
              </div>
          </header>
    <h1>Astro</h1>
    <p>My Astro site</p>
    <button>Viralistic.nl</button>
  </body>
</html>
