
  body {
      background-color: blue;
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  link {
      color:white;
  }
  
  button {
      background-color: #ffffff;
      color: blue;
  }
  
