---
const platform = "github";
const username = "withastro";
---

<footer bind="08f00712-75b6-cc14-0914-bca7aff35cf6" class="footer-section section">
    <div data-w-id="b2bf859e-87f3-b5fc-be1a-77ded87b08de" class="strong-section-upper footer general-footer">
      <div class="footer-cta-container container">
        <div class="col footer-topcol">
          <div class="circle-turn">
            <div class="footer-cta-container">
              <h2 class="footer-cta"><span>Upgrade</span> today</h2>
              <a href="https://calendly.com/viralistic/30min" target="_blank" class="special-button w-inline-block">
                <div class="special-btn-circle">
                  <div class="arrow-band-mover">
                    <div class="arrow-band"><img loading="lazy" src="images/ion_arrow-up-outline.svg" alt="" class="special-btn-arrow"><img loading="lazy" src="images/ion_arrow-up-outline.svg" alt="" class="special-btn-arrow"><img loading="lazy" src="images/ion_arrow-up-outline.svg" alt="" class="special-btn-arrow"></div>
                  </div>
                  <div class="special-button-first-letter">3</div>
                </div>
                <div class="special-btn-text text-lighter">0 min call</div>
              </a>
            </div>
            <div data-w-id="b2bf859e-87f3-b5fc-be1a-77ded87b08eb" class="circle-turn-cir"></div>
            <div data-w-id="b2bf859e-87f3-b5fc-be1a-77ded87b08ec" class="circle-turn-cir is-2nd-circle"></div>
            <div data-w-id="b2bf859e-87f3-b5fc-be1a-77ded87b08ed" class="circle-turn-cir is-3nd-circle"></div>
            <div data-w-id="910cfc72-36f4-c39a-a4a3-642ecf539108" class="circle-turn-cir is-4nd-cirlce"></div>
            <div data-w-id="b4b4f61f-8948-bf38-f035-435e8aa9d67e" class="circle-turn-cir is-3nd-circle is-5nd-circle"></div>
          </div>
        </div>
      </div>
      <div class="footer-big-menu">
        <div class="container">
          <ul role="list" class="footer-nav footer-bg-nav">
            <li class="footer-li">
              <a data-w-id="b2bf859e-87f3-b5fc-be1a-77ded87b08f6" href="about-us.html" class="footer-link w-inline-block">
                <h2 class="footer-heading-link">About</h2>
                <div class="footer-hover-dot"></div>
              </a>
            </li>
            <li id="w-node-ccb033d4-b727-e17a-b857-69aeebe43675-d87b08dd" class="footer-li">
              <a data-w-id="ccb033d4-b727-e17a-b857-69aeebe43676" href="portfolio.html" class="footer-link w-inline-block">
                <h2 class="footer-heading-link">Cases</h2>
                <div class="footer-hover-dot"></div>
              </a>
            </li>
            <li id="w-node-b7e8422d-6ed0-de73-f541-103ce34cc50b-d87b08dd" class="footer-li">
              <a data-w-id="b7e8422d-6ed0-de73-f541-103ce34cc50c" href="our-services.html" class="footer-link w-inline-block">
                <h2 class="footer-heading-link">Services</h2>
                <div class="footer-hover-dot"></div>
              </a>
            </li>
            <li id="w-node-_33936e4b-78a2-c5be-871a-5062512cc4e6-d87b08dd" class="footer-li">
              <a data-w-id="33936e4b-78a2-c5be-871a-5062512cc4e7" href="contact.html" class="footer-link w-inline-block">
                <h2 class="footer-heading-link">Contact</h2>
                <div class="footer-hover-dot"></div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="h-20"></div>
    <div data-w-id="b2bf859e-87f3-b5fc-be1a-77ded87b0906" class="container">
      <div class="col flex-verti-cc">
        <ul role="list" class="menu-list flex-horiz-dist-even">
          <li>
            <a href="https://www.google.com/maps/dir//Viralistic+Digital+Agency,+Herengracht+449a,+1017+BR+Amsterdam,+Netherlands/@52.3666451,4.8864898,17z/data=!4m17!1m7!3m6!1s0x47c609f9806330c5:0x3c13405a175e8ea!2sViralistic+Digital+Agency!8m2!3d52.3666451!4d4.8890647!16s%2Fg%2F11tcjc2jly!4m8!1m0!1m5!1m1!1s0x47c609f9806330c5:0x3c13405a175e8ea!2m2!1d4.8890647!2d52.3666451!3e9?entry=ttu&amp;g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D" target="_blank" class="btn-footer w-button">Herengracht 449a Amsterdam, Netherlands</a>
          </li>
        </ul>
      </div>
      <div class="col flex-verti-cc">
        <a href="index.html" aria-current="page" class="homepage w-inline-block w--current"><img src="images/Vector.svg" loading="lazy" alt="" class="viralistic-logo-footer"></a>
      </div>
      <div class="col flex-verti-cc mob-hide">
        <ul role="list" class="menu-list flex-horiz-dist-even">
          <li>
            <a href="https://www.google.com/maps/dir//Viralistic+Digital+Agency,+Herengracht+449a,+1017+BR+Amsterdam,+Netherlands/@52.3666451,4.8864898,17z/data=!4m17!1m7!3m6!1s0x47c609f9806330c5:0x3c13405a175e8ea!2sViralistic+Digital+Agency!8m2!3d52.3666451!4d4.8890647!16s%2Fg%2F11tcjc2jly!4m8!1m0!1m5!1m1!1s0x47c609f9806330c5:0x3c13405a175e8ea!2m2!1d4.8890647!2d52.3666451!3e9?entry=ttu&amp;g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D" target="_blank" class="btn-footer w-button">@2025 Copyright Viralistic digital agency</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="h-20"></div>
  </footer>