<nav class="nav section">
    <div class="container py-5">
      <div class="col flex-horiz-c-start gap-10">
        <a id="homepage" aria-label="link to homepage" href="index.html" aria-current="page" class="homepage w-inline-block w--current"><img src="images/Vector.svg" loading="lazy" id="homepage" alt="" class="logo-home-button"></a>
        <div class="nav-breadcrumb">//</div>
        <div class="nav-breadcrumb text-base">Viralistic Digital Agency</div>
      </div>
      <div class="col flex-horiz-c-end gap-10 is_nav-right">
        <div data-delay="0" data-hover="true" class="dropdown mobhide w-dropdown">
          <div class="dropdown-toggle w-dropdown-toggle"><img src="images/Profile.svg" alt="" width="20" height="20" class="login-icon"></div>
          <nav class="navigation-dropdown w-dropdown-list">
            <div class="dropdown-pointer">
              <div class="dropdown-wrapper">
                <a href="https://webflow.com/login" target="_blank" class="dropdown-link w-inline-block">
                  <div class="icon-wrap"><img alt="" src="images/akar-icons_link-out.svg" class="website-login-icon"></div>
                  <div class="nav-content-wrap">
                    <div class="dropdown-title">WebFlow login</div>
                    <div class="nav-link-details">Log into your website</div>
                  </div>
                </a>
                <a href="https://mwp01.chbcloud.nl/" target="_blank" class="dropdown-link w-inline-block">
                  <div class="icon-wrap"><img alt="" src="images/akar-icons_link-out.svg" class="website-login-icon"></div>
                  <div class="nav-content-wrap">
                    <div class="dropdown-title">Custom Site Login</div>
                    <div class="nav-link-details">Log into your website</div>
                  </div>
                </a>
                <a href="https://webmail.viralistic.nl" target="_blank" class="dropdown-link w-inline-block">
                  <div class="icon-wrap"><img alt="" src="images/email-icon.svg" class="email-icon"></div>
                  <div class="nav-content-wrap">
                    <div class="dropdown-title">Email</div>
                    <div class="nav-link-details">Log into your webmail</div>
                  </div>
                </a>
                <a href="https://billing.stripe.com/p/login/6oEeYz4X4fAo52g288" target="_blank" class="dropdown-link w-inline-block">
                  <div class="icon-wrap"><img alt="" src="images/material-symbols-light_finance.svg" class="finance-icon"></div>
                  <div class="nav-content-wrap">
                    <div class="dropdown-title">Finance</div>
                    <div class="nav-link-details">Manage your invoices &amp; subscriptions</div>
                  </div>
                </a>
                <div class="dropdown-block">
                  <div class="dropdown-sub-menu-title">Need help?</div>
                  <a href="hosting.html" class="nav-blog-item w-inline-block">
                    <div menu="menu2" class="sub-menu-link">Hosting configurator</div>
                  </a>
                  <a href="https://viralistic.gitbook.io/knowledgebase" target="_blank" class="nav-blog-item w-inline-block">
                    <div menu="menu2" class="sub-menu-link">Visit our knowledgebase</div>
                  </a>
                  <a href="contact.html" class="nav-blog-item w-inline-block">
                    <div menu="menu2" class="sub-menu-link">Contact</div>
                  </a>
                  <a href="terms.html" class="nav-blog-item w-inline-block">
                    <div menu="menu2" class="sub-menu-link">Terms of service</div>
                  </a>
                  <a href="privacy-policy.html" class="nav-blog-item w-inline-block">
                    <div menu="menu2" class="sub-menu-link">Privacy policy</div>
                  </a>
                </div>
              </div>
              <div class="pointer"></div>
            </div>
          </nav>
        </div>
        <div data-lenis-toggle="" data-w-id="d1b78a93-c170-f067-a4ca-ebdcbdc76f57" class="menu-button">
          <div data-is-ix2-target="1" class="lottie-animation" data-w-id="d1b78a93-c170-f067-a4ca-ebdcbdc76f58" data-animation-type="lottie" data-src="https://cdn.prod.website-files.com/6661881a49f1c75f22d84dd3/66d5a1fcc4112c98b4154648_lottieflow-menu-nav-09-ffffff-easey.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="2.5" data-duration="0" data-ix2-initial-state="0"></div>
          <div class="menu-wrapper">
            <div class="menu-inner-wrapper container">
              <div class="contact-field">
                <a href="https://t.me/vrlstc" target="_blank" class="social-link w-inline-block"><img src="images/telegram.svg" loading="lazy" alt=""></a>
                <a href="mailto:info@viralistic.nl" class="social-link w-inline-block"><img src="images/email-icon.svg" loading="lazy" alt="" class="email-icon"></a>
                <a href="https://api.whatsapp.com/send?phone=31202101075" target="_blank" class="social-link w-inline-block"><img src="images/ic_outline-whatsapp.svg" loading="lazy" width="28" alt="" class="whatsapp-icon"></a>
                <a id="w-node-ed5c8583-d0a9-9173-f198-75b6f0e6dae8-bdc76f47" href="https://www.instagram.com/vrlstc/" target="_blank" class="social-link w-inline-block"><img src="images/mdi_instagram.svg" loading="lazy" width="28" alt="" class="insta-icon"></a>
              </div>
              <a data-w-id="6d52d663-f197-b338-1344-55e4d46247af" href="index.html" aria-current="page" class="menu-link-btn w-inline-block w--current">
                <div class="menu-text">Home</div>
                <div class="menu-glow-line"></div>
              </a>
              <a data-w-id="f5ea374b-f80a-7370-9798-3d498c94119f" href="about-us.html" class="menu-link-btn w-inline-block">
                <div class="menu-text">About</div>
                <div class="menu-glow-line"></div>
              </a>
              <a data-w-id="5a47ca32-31ed-e43d-e5bf-1021f372296d" href="portfolio.html" class="menu-link-btn w-inline-block">
                <div class="menu-text">Cases</div>
                <div class="menu-glow-line"></div>
              </a>
              <a data-w-id="4fda508b-f0a4-cd52-20a3-5f0b6a4cb055" href="our-services.html" class="menu-link-btn w-inline-block">
                <div class="menu-text">Services</div>
                <div class="menu-glow-line"></div>
              </a>
              <a data-w-id="ed84a995-c760-01fe-e8da-437e94c3655d" href="wf-blog.html" class="menu-link-btn w-inline-block">
                <div class="menu-text">Blog</div>
                <div class="menu-glow-line"></div>
              </a>
              <a data-w-id="a9fd0497-1f35-ac15-3945-fd37452b3ee2" href="contact.html" class="menu-link-btn w-inline-block">
                <div class="menu-text">Contact</div>
                <div class="menu-glow-line"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

<style>
    a {
        color: white;
    }
</style>